<%- include('partials/header') %>
  <body class="bg-sweed-dark text-sweed-white">
    <%- include('partials/navbar') %>
    <% menu.forEach((cat) => { %>
      <section id="<%- cat.type %>">
        <div class="lg:flex lg:items-center">
          <div class="mx-auto max-w-3xl text-sweed-color mt-16 mb-7 text-center">
            <h1
              class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold sm:text-5xl">
              <%= cat.name %>
            </h1>
          </div>
        </div>
        <div>
          <section id="menus" class="flex flex-row justify-evenly flex-wrap mt-8 mx-8">
            <% cat.items.forEach((element) => { %>
              <div class="group relative block overflow-hidden basis-1 sm:basis-1/2 lg:basis-1/4 mx-1 mb-8">
                <img src="images/moxFood1.jpeg" alt=""
                    class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72" />
                <div class="relative border border-sweed-gray bg-sweed-gray p-6">
                  <span class="hidden whitespace-nowrap bg-sweed-red px-3 py-1.5 text-xs font-medium">
                    New
                  </span>
                  <h3 class="mt-4 text-lg font-medium text-gray-900"><%= element.name %></h3>
                  <p class="mt-1.5 text-sm text-gray-700"><%= element.price %>$</p>
                  <form action="/addToCart" method="post" class="cartForm mt-4" id="<%= element.name %><%= element.productId %>">
                    <button type="submit" name="submit" value="<%= element.productId %>" id="<%= element.name %><%= element.productId %>"
                      class="cartBtn block w-full rounded bg-sweed-color p-4 text-sm font-medium transition-transform hover:scale-105 active:bg-sweed-white">
                      <span class="text-sweed-dark">Add to Cart</span>
                    </button>
                  </form>
                </div>
              </div>
            <% }) %>
            </div>
      </section>
    <% }) %>
    <script src="js/menuAddToCart.js"></script>
  </body>
<%- include('partials/footer') %>
</html>