<%- include('partials/header') %>
<%- include('partials/navbar') %>
<body class="bg-sweed-dark text-sweed-white" onload="disableCheckout('<% if(total == 0){ %> true <% } %>')">
	<section class="lg:w-[70%] w-[80%]  mx-auto">
		<div class="mx-auto max-w-screen-xl py-8 sm:py-12 lg:px-8">
			<div class="mx-auto max-w-3xl">
				<header class="text-center bg-sweed-gray py-4 rounded-lg">
					<h1 class="text-xl font-bold text-sweed-color sm:text-3xl">Your Cart</h1>
				</header>
				<div class="mt-4 bg-sweed-gray p-4 rounded-lg text-sweed-white">
					<ul class="space-y-4">
						<li class="flex justify-start items-center gap-4">
							<div class="max-h-[64px] max-w-xs">
								<a href="/menu"
									class="block rounded bg-transparent px-5 py-3 font-normal text-sweed-white transition hover:bg-sweed-color-light hover:text-sweed-dark">
									See the Menu
								</a>
							</div>
						</li>
						<% cart.forEach((product) => { %>
							<li class="flex items-center gap-4">
								<div>
									<label for="Quantity" class="sr-only"> Quantity </label>
									<div class="flex items-center rounded border border-sweed-dark">
										<button type="button" onclick="minusQuantity('<%= product.product.productId %>')"
											class="h-8 w-8 leading-8 text-sweed-color transition hover:text-sweed-color-light">
											&minus;
										</button>
										<span>
											<form action="/changeCart" method="post" id="<%= product.product.productId %>form" class="shopForm">
												<input name="id" type="text" value="<%= product.product.productId %>" class="hidden">
												<input name="quantity" type="number" id="<%= product.product.productId %>" value="<%= parseInt(product.quantity) %>" min="0" max="99" onchange="checkRange(this.id)"
													class="text-sweed-color bg-sweed-dark h-8 w-8 border-y-0 border-gray-200 text-center sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
											</form>
										</span>
										<button type="button" onclick="plusQuantity('<%= product.product.productId %>')"
											class="h-8 w-8 leading-8 text-sweed-color transition hover:text-sweed-color-light">
											&plus;
										</button>
									</div>
								</div>
								<div class="h-16 w-16 rounded bg-sweed-white lg:flex hidden"></div>
								<div>
									<h3 class="text-sm"><%= product.product.name %></h3>
								</div>
								<div class="flex flex-1 items-center justify-end gap-2">
									<span>฿<%= product.product.price*product.quantity %></span>
								</div>
							</li>
						<% }) %>
					</ul>
					<div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
						<div class="w-screen max-w-lg space-y-4">
							<dl class="space-y-0.5">
								<div class="flex justify-between">
									<dt>Subtotal</dt>
									<dd>฿<%= subtotal %></dd>
								</div>
								<div class="flex justify-between">
									<dt>VAT</dt>
									<dd>฿<%= total-subtotal %></dd>
								</div>
								<div class="flex justify-between !text-base font-medium text-sweed-color">
									<dt>Total</dt>
									<dd>฿<%= total %></dd>
								</div>
							</dl>
							<div class="flex justify-end">
								<form action="/addOrder" method="post">
								<button type="submit" id="checkout"
									class="block rounded bg-sweed-color px-5 py-3 font-medium text-sweed-gray transition hover:bg-sweed-color-light disabled:bg-sweed-red">
									<% if(total == 0){ %>
										Nothing to Order	
									<% } else { %>
										Order
									<% }%>
								</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/cartLimit.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
</body>

</html>